@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-gold: #C5A059;
  --color-premium-dark: #1A1A1A;
  --color-premium-light: #FAF9F6;
  --color-border-thin: rgba(26, 26, 26, 0.05);

  --color-dark-bg: #121212;
  --color-dark-surface: #1E1E1E;
}

@layer base {
  body {
    @apply bg-premium-light text-premium-dark font-sans antialiased transition-colors duration-300;
  }

  .dark body {
    @apply bg-dark-bg text-gray-100;
  }
  
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}
